@page "/games"
@using IdentifyingArbitrage.Models
@using IdentifyingArbitrage.Data
@using System.Runtime.InteropServices
@inject DataManager DataManager
@inject NavigationManager NavigationManager
@inject GameService GameService
@attribute [StreamRendering]

<PageTitle>Games</PageTitle>

<h1>Upcoming Games</h1>

@if (upcomingGames == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
    <thead>
    <tr>
        <th>Game</th>
        <th>Date/Time</th>
        <th>Line</th>
        <th>Implied Odds</th>
    </tr>
    </thead>
        @foreach (var game in upcomingGames)
        {
            <tbody>
            <tr>
                <td>@game.Teams[0].Name</td>
                <td></td>
                <td>@game.Teams[0].AmericanOdds</td>
                <td>@game.Teams[0].ImpliedOdds</td>
            </tr>
            <tr>
                <td>vs</td>
                <td>@game.Date at @game.Time</td>
                <td></td>
                <td>
	            <a href="arbitration"><button @onclick="(e => PopulateVariables(game))" value="Arbitration">Calculate Arbitrage</button></a>
	            </td>
            </tr>
            <tr>
                <td>@game.Teams[1].Name</td>
                <td> </td>
                <td>@game.Teams[1].AmericanOdds</td>
                <td>@game.Teams[1].ImpliedOdds</td>
            </tr>
            </tbody>
        }
    </table>
}

<style>

</style>

@code {

    private Game[]? upcomingGames;
    
    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        upcomingGames = GameService.GetUpcomingGames();
        // Use Concat to create a new array with the additional elements
        if (upcomingGames == null)
        {
            upcomingGames = FetchData();
            GameService.SetUpcomingGames(upcomingGames);
        }
    }
    
    private Game[] FetchData()
    {
        // Call the GetData method from DataManager
        DataManager.GetData();
        return DataManager.GetData().ToArray();

    }

    private void PopulateVariables(Game game)
    {
	    var team1Name = game.Teams[0].Name;
	    var team2Name = game.Teams[1].Name;
	    var team1MoneyLine = game.Teams[0].ImpliedOdds;
	    var team2MoneyLine = game.Teams[1].ImpliedOdds;
    }
}